@import "bootstrap-icons/font/bootstrap-icons.css";

/* General styles */
html, body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

/* Header and search section */
.search {
  display: flex;
  justify-content: center;
  background-color: #007bff;
  border: 2px solid #491f1f;
  padding: 15px;
  font-size: 20px;
}



.title {
  color: #ffffff;
}

/* Section titles */
.section {
  text-align: center;
  color: #dfd5d5;
}

.heading {
  font-size: 30px;
  background-color: #db0000;
  margin: 15px;
  padding: 10px;

}

/* Product container */
.product-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
}

/* Product card (assumed to be in Product component) */
.product-card {
  display: flex;
  background-color: #f7f4f4;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  height: 500px;
  margin: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border: 1px solid #ee0505;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #333;
  transition: all 0.3s;
  margin-bottom: 40px;
  position: relative;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.product-image {
  width: auto;
  background-color: #4e4646;
  max-width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 19px;
  margin-top: 10px;
}

.product-card h3 {
  color: #fbff00;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-card p {
  font-size: 14px;
  color: #030303;
  margin-bottom: 16px;
}

.product-card button {
  background-color: #007bff;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #1f1c1c;
}

/* Rating */
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
