@import "bootstrap-icons/font/bootstrap-icons.css";

/* General styles */
html, body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

/* Header and search section */
.search {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.search .title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

/* Section titles */
.section {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.section .heading {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}


/* Product container */
.product-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  padding: 10px; /* Añade un poco de relleno al contenedor */
}

/* Product card (assumed to be in Product component) */
.product-card {
  background-color: #f7f4f4;
  width: 200px;
  min-width: 200px;
  height: 500px;
  margin: 8px;
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ee0505;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #333;
  transition: all 0.3s;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.product-image {
  width: auto;
  background-color: #4e4646;
  max-width: 100px;
  height: 100px;
  border-radius: 8px;
  margin: 10px 0; /* Margen uniforme arriba y abajo */
}

.product-card h3 {
  color: #fbff00;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-card p {
  font-size: 14px;
  color: #030303;
  margin-bottom: 16px;
}

.product-card button {
  background-color: #007bff;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #1f1c1c;
}

/* Rating */
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
