.searchBoxContainer {
    display: flex;
    align-items: center; /* Ali verticalmente */
}

.searchIcon {
  border: 1px solid #ccc; 
  padding: 8px;
  margin-right: 10px; 
  margin-left: 10px;
  color: aqua;
  width: 20px; /* Cambia este valor para ajustar el ancho */
  height: 20px; /* Cambia este valor para ajustar la altura */
}

input {
  border: 1px solid #ccc; 
  padding: 8px;
  font-size: 16px; /*tamaño de la fuente  */
}


