.searchBoxContainer {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos al centro */
    padding: 10px;
    background-color: blue;
}

.searchIcon {
    margin-right: 10px; /* Ajusta el espacio entre el icono y el input */
   color: aqua;
}

input {
    border: 1px solid #ccc; /* Ajusta el borde según el diseño deseado */
    padding: 8px;
    font-size: 16px; /* Ajusta el tamaño de la fuente según el diseño deseado */
}


