.searchBoxContainer {
    display: flex;
    align-items: center; 
}

.searchIcon {
  border: 1px solid #ccc; 
  padding: 8px;
  margin-right: 10px; 
  margin-left: 10px;
  color: aqua;
  width: 20px;
  height: 20px; 
}

input {
  border: 1px solid #ccc; 
  padding: 8px;
  font-size: 16px; 
}


