html,
body {
  background-color: #000000;
  margin: 0;
  padding: 0%;
}

.titile-cabe {
  display: flex;
  padding: 10px;
  width: 94.7%;
  z-index: 1;
  cursor: pointer;
}

.titulos {
  font-size: 30px;
  text-align: center;
}
.product-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll; 
  width: 100%;
}

.titulos1 {
  color: #d5dadf;
  text-align: center;
}
.imagenes1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll; 
  width: 100%;
}

.titulos2 {
  color: #d5dadf;
  text-align: center;
}

.imagenes2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll; 
  width: 100%;
}

.titulos3 {
  color: #d5dadf;
  text-align: center;
}

.imagenes3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll; 
  width: 100%;
}



.product-card {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  height: 550px;
  margin: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #333;
  transition: all 0.3s;
  margin-bottom: 40px;
  position: relative;
}

.product-image {
width: auto;
max-width: auto;
height: 100px;
max-width: 100px;
border-radius: 8px;
margin-bottom: 19px;
margin-top: 10px;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.product-card h3 {
  color: #30ff06;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-card p {
  font-size: 14px;
  color: #080808;
  margin-bottom: 16px;
}


.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card button:hover {
  background-color: #9af705;
}

.product-data {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 50%;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  margin-bottom: 16px;
  margin-top: 10px;
}

.product-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.product-numbers .price {
  font-size: 24px;
  font-weight: bold;
}

.product-numbers .price-before {
  font-size: 24px;
  font-weight: lighter;
  font-size: small;
  color: #666;
  text-decoration: line-through;
}
.rating{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: blueviolet;
  color: #ffffff;
  border-radius: 50%;
  width: 50%;
  height: 40px;
  margin-right: 10px;
}

.product-data .rating {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  bottom: 0;
  right: 0;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.b-comprar{
  margin: 10px;
}






