.container_register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; 
  padding: 0 20px;
}

.from_login {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 0 auto; 
}

.title_label {
  display: block;
  margin-bottom: 8px;
  color: #333; 
  font-size: 14px;
  font-weight: bold;
}

.input_login {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px; 
  border: 1px solid #ccc; 
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #fff; 
  color: #333;
}

.login_button {
  width: 100%;
  padding: 12px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login_button:hover {
  background-color: #0056b3;
}

.login-error {
  color: #e74c3c;
  background-color: #ffe5e5;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}



.password-container {
  position: relative; /* Necesario para posicionar el icono absolutamente dentro de este contenedor */
  width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
}

.input_login {
  width: 100%; /* Asegura que el campo use todo el ancho del contenedor */
  padding: 12px;
  padding-right: 40px; /* Espacio para el icono a la derecha */
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

.password-toggle-icon {
  margin-top: -8px;
  position: absolute; 
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px; 
  cursor: pointer; 
  color: #333; 
  pointer-events: all; /* Permite que el clic en el icono funcione */
}
