body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #000000;
}

.contenido {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}
.container {
  display: flex;
  width: 75%;
}
.barra {
  display: flex;
  justify-content: right;
}

.header nav {
  display: flex;
  align-items: center; /* ggggggg */
  text-decoration: none;
  font-weight: bold;
}
.logo {
  width: 100px;
}

.barra a {
  color: #ff0000;
  text-decoration: none;
  margin: 20px;
}
h3 {
  color: #ffffff;
  margin: 20px;
  padding-left: 20px;
}

.imagen {
  height: 120px;
  width: 200px;
  margin-left: 5px;
}

.header {
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  padding-left: 40px;
}

@keyframes spin {
  /* 0% { transform: translateX(0); }
  50% { transform: translateX(20px); }
  100% { transform: translateX(0); } */

  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header img {
  animation: spin 5s linear infinite;
  width: 100px;
}
.header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.4s ease;
}
nav a:hover {
  color: rgb(250, 0, 42);
}


.from_inscribirse {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0 15px;
}

a:hover {
  text-decoration: underline;
}

.formulario form {
  display: flex;
  flex-direction: column;
}

.campo {
  margin-bottom: 10px;
}

.formulario label {
  font-weight: bold;
}

.formulario input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.formulario button {
  background-color: #d81f26;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}
.header button {
  background-color: #d81f26;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-ini-sesion,
.btn-ini-cerrarsesion {
  padding: 5px 10px;
  margin: 5px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  box-sizing: border-box; /* Asegura que el padding no afecte al ancho total del botón */
}

.btn-ini-registro {
  background-color: #d81f26;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 20px;
  margin: 5px;
  margin-top: 15px;
}

.cart-icon-container {
  font-size: 2.2rem;
  padding: 10px;
  margin: 0 50px;
}

.flex {
  display: flex;
}

.buttons_header {
  display: flex;
}

.buttons_header_responsive {
  display: none;
}

.class-menu-btn {
  display: flex;
  padding: 10px;
}

.close-btn {
  display: flex;
  margin-left: 120px;
}


#menu-btn-Hamburguesa {
  display: none;
  /* margin-right: 30px; */
  background-color: #d81f26;
  height: 40px !important;
  width: 60px !important;
  margin-top: 15px;
}

@media (max-width: 890px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  
  .verCorreo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header nav {
    display: none;
    margin-top: 10px;
    flex-direction: column;
  }

  .header .flex {
    flex-direction: column-reverse;
    align-items: center;
    width: 40%;
  }

  .buttons_header {
    display: none;
  }

  .buttons_header_responsive {
    display: flex;
    flex-direction: column;
  }

  #menu-btn-Hamburguesa {
    display: block;
  }

  /* responsi */

  .navbar {
    display: flex;
    gap: 1rem;
  }

  .navbar a {
    text-decoration: none;
    color: black;
  }

  .navbar.active {
    margin-top: 20px;
    display: flex; /* Muestra el menú desplegable cuando está activo */
    width: 50%;
    display: flex;
    align-items: flex-start;
  }

  .navbar {
    background-color: #141414;
    position: absolute;
    top: 60px; /* Ajusta según el alto del header */
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1;
  }

  #menu-btn-Hamburguesa {
    display: block; /* Muestra el botón hamburguesa en pantallas pequeñas */
  }
}