body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #000000;
}
.header {
  /*barra nav*/
  display: flex;
  background-color: #141414;
  justify-content: space-between;
  padding: 60px;
  padding-left: 40px;
}
.contenido {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}
.header .container {
  display: flex;
}
.header .barra {
  display: flex;
  justify-content: right;
}
.header nav {
  display: flex;
  align-items: center;
}
.header .logo {
  width: 100px;
}
.header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
}
/* .header button {
  background-color: #1c1049;
  color: #ffffff;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  padding: 10px;
} */
.header .img {
  height: 55px;
}

.barra a {
  /*kids*/
  color: #ffffff;
  text-decoration: none;
  margin: 20px;
}
h3 {
  color: #ffffff;
  margin: 20px;
  padding-left: 20px;
}
.imagenes {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  scrollbar-color: #000 #000;
}
.imagen {
  height: 120px;
  width: 200px;
  margin-left: 5px;
}

.header {
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
}
.header nav {
  display: flex;
  align-items: center;
}
.header img {
  width: 100px;
}
.header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.4s ease; /* Transición suave para el cambio de color */
}
nav a:hover {
  color: rgb(
    250,
    0,
    42
  ); /* Color que deseas cuando el cursor está sobre el enlace */
}


/* botones */
.header button {
  background-color: #d81f26;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  margin-top: 15px;
  /* padding: 10px; */
}

#menu-btn-Hamburguesa {
  margin-right: 30px;
  background-color: #d81f26;
  height: 40px  !important;
  width:  60px  !important;
}

@media (max-width: 568px) {
  .barra.open {
    right: 0;
    top: 75px;
  }
  .barra {
    height: 100%;
    width: 250px;
    background: #0c0b0b;
    position: fixed;
    top: 70px;
    right: -250px;
    z-index: 0;
    transition: right 0.3s ease;
  }
  .galeria {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .contenido {
    padding: 0 10px; /* Reducir el espacio alrededor del contenido para pantallas pequeñas */
  }
  .header .container {
    flex-direction: column; /* Apilar elementos del menú en pantallas pequeñas */
    align-items: center; /* Centrar elementos del menú en pantallas pequeñas */
  }
  /* Puedes añadir más estilos específicos para pantallas pequeñas aquí */
}

.from_inscribirse {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}

/* nav {
  background-color: #292727;
  padding: 1rem;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0 15px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.header .formulario {
  position: absolute;
  top: 100px; /* Ajusta la posición vertical según sea necesario */
  right: 220px; /* Ajusta la posición horizontal según sea necesario */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 100; /* Asegúrate de que esté por encima de otros elementos */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  border-radius: 4px; /* Bordes redondeados */
}

.header .formulario form {
  display: flex;
  flex-direction: column; /* Apilar los campos uno encima del otro */
}

.header .formulario .campo {
  margin-bottom: 10px; /* Espacio entre los campos */
}

.header .formulario label {
  font-weight: bold;
}

.header .formulario input {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.header .formulario button {
  background-color: #d81f26;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}

.header .btn-ini-sesion {
  margin-right: 330px;
  background-color: #d81f26;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 30px;
}

.class-menu-btn {
  display: flex;
  padding: 10px;
}
