body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #000000;
}

.contenido {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}
.header .container {
  display: flex;
  width: 75%;
}
.header .barra {
  display: flex;
  justify-content: right;
}
.header nav {
  display: flex;
  align-items: center;
}
.header .logo {
  width: 100px;
}
.header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
}

.header .img {
  height: 55px;
}

.barra a {
  color: #ff0000;
  text-decoration: none;
  margin: 20px;
}
h3 {
  color: #ffffff;
  margin: 20px;
  padding-left: 20px;
}
.imagenes {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  scrollbar-color: #000 #000;
}
.imagen {
  height: 120px;
  width: 200px;
  margin-left: 5px;
}

.header {
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  padding-left: 40px;
}
/* .header {
  display: flex;
  background-color: #141414;
  padding: 60px;

} */



.header nav {
  display: flex;
  align-items: center;  /* ggggggg */
  text-decoration: none;
  font-weight: bold;
}


@keyframes spin  {
  /* 0% { transform: translateX(0); }
  50% { transform: translateX(20px); }
  100% { transform: translateX(0); } */

  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header img {
  /* animation: moveSideways 2s ease-in-out infinite; */
  animation: spin 5s linear infinite;
  width: 100px;
}
.header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.4s ease; /* Transición suave para el cambio de color */
}
nav a:hover {
  color: rgb(
    250,
    0,
    42
  ); /* Color que deseas cuando el cursor está sobre el enlace */
}

/* botones */
.header button {
  background-color: #d81f26;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  margin-top: 15px;
  /* padding: 10px; */
}

#menu-btn-Hamburguesa {
  margin-right: 30px;
  background-color: #d81f26;
  height: 40px !important;
  width: 60px !important;
  margin-top: 15px;
}

@media (max-width: 568px) {
  .barra.open {
    right: 0;
    top: 75px;
  }
  .barra {
    height: 100%;
    width: 250px;
    background: #0c0b0b;
    position: fixed;
    top: 70px;
    right: -250px;
    z-index: 0;
    transition: right 0.3s ease;
  }
  .galeria {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .contenido {
    padding: 0 10px; /* Reducir el espacio alrededor del contenido para pantallas pequeñas */
  }
  .header .container {
    flex-direction: column; /* Apilar elementos del menú en pantallas pequeñas */
    align-items: center; /* Centrar elementos del menú en pantallas pequeñas */
  }
  /* Puedes añadir más estilos específicos para pantallas pequeñas aquí */
}

.from_inscribirse {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0 15px;
}

a:hover {
  text-decoration: underline;
}



.header .formulario form {
  display: flex;
  flex-direction: column; /* Apilar los campos uno encima del otro */
}

.header .formulario .campo {
  margin-bottom: 10px; /* Espacio entre los campos */
}

.header .formulario label {
  font-weight: bold;
}

.header .formulario input {
  width: 100%; 
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.header .formulario button {
  background-color: #d81f26;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}

.header .btn-ini-sesion {
  background-color: #d81f26;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 20px;
  margin:5px ;
  margin-top: 15px;
}

.header .btn-ini-registro {
  background-color: #d81f26;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding:5px 20px;
  margin:5px ;
  margin-top: 15px;
}

.header .btn-ini-cerrarsesion{
  background-color: #d81f26;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding:5px 20px;
  margin:5px ;
  margin-top: 15px;
}


.cart-icon-container {
  font-size: 2.200rem; /* Ajusta el tamaño del texto para el ícono, similar a 'text-lg' */
  padding: 10px; 
  margin: 0 50px; 
}

.flex{
  display: flex;
}

.class-menu-btn {
  display: flex;
  padding: 10px;
}

.close-btn{
  display: flex;
  margin-left: 120px;
}

