/* Contenedor principal del carrito */
.cartContainer {
  background-color: #f44336; /* Color de fondo */
  padding: 16px;
  border-radius: 8px;
  color: white;
}

/* Título de la lista de productos */
.listTitle {
  text-align: center;
  margin: 16px 0;
  font-size: 1.5rem;
}

/* Mensaje cuando el carrito está vacío */
.emptyMessage {
  text-align: center;
  font-size: 1rem;
}

/* Contenedor para cada producto en el carrito */
.productItem {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

/* Estilo del botón */
.button {
  background-color: #007bff; /* Color de fondo */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

/* Estilo del botón al pasar el ratón por encima */
.button:hover {
  background-color: #0056b3;
}




/* products.list */

