.cartContainer {
  background-color: #fff; 
  color: #333; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

.titleTarget {
  text-align: center;
  margin-bottom: 20px;
}

.listTitle {
  color: #000; 
  font-size: 2rem;
  font-weight: bold;
}

.targetContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f30404;
  padding: 8px; 
  border-radius: 8px;
  background-color: #fafafa;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.productItem:hover {
  background-color: #d34545; 
}

.productImage {
  max-width: 150px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px; 
}

.productName {
  font-size: 1.2rem; 
  font-weight: bold;
  color: #000;
  margin: 8px 0; 
}

.productPrice {
  font-size: 1rem; 
  margin: 8px 0; 
}
.button {
  background-color: #c00; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.comprar_ahora{
  background-color: #c00; 
  color: #fff; 
  border: none;
  padding: 10px 13px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
.comprar_ahora:hover{
  background-color: rgb(25, 238, 5);
  transition: background-color 0.5s ease;
}
.buy_now{
  display: flex;
  justify-content: center;
  margin: 15px;
}


.button:hover {
  background-color: #900; 
}

.emptyMessage {
  text-align: center;
  color: #666; 
  font-size: 1.2rem;
}

.clearButtonContainer {
  text-align: center;
  margin-top: 20px;
}

h3{
  font-size: 1.5rem;
  border-radius: 10px;
  color: #333333;
  padding: 10px;
}